.wallet-adapter-button {
    display: inline-flex;
    -webkit-appearance: none;
    appearance: none;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: auto;
    line-height: 1.2;
    border-radius: var(--chakra-radii-md);
    font-weight: var(--chakra-fontWeights-semibold);
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    height: var(--chakra-sizes-10);
    min-width: var(--chakra-sizes-10);
    font-size: var(--chakra-fontSizes-md);
    -webkit-padding-start: var(--chakra-space-4);
    padding-inline-start: var(--chakra-space-4);
    -webkit-padding-end: var(--chakra-space-4);
    padding-inline-end: var(--chakra-space-4);
    background: var(--chakra-colors-white);
    color: var(--chakra-colors-gray-900)
}

.wallet-adapter-button:not([disabled]):focus-visible {
    outline-color: #fff
}

.wallet-adapter-button:not([disabled]):hover {
    background: var(--chakra-colors-gray-300)
}

.wallet-adapter-button[disabled] {
    opacity: .4;
    cursor: not-allowed;
    box-shadow: var(--chakra-shadows-none)
}

.wallet-adapter-button-end-icon,
.wallet-adapter-button-end-icon img,
.wallet-adapter-button-start-icon,
.wallet-adapter-button-start-icon img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px
}

.wallet-adapter-button-end-icon {
    margin-left: 8px
}

.wallet-adapter-button-start-icon {
    margin-right: 8px
}

.wallet-adapter-collapse {
    width: 100%
}

.wallet-adapter-dropdown {
    position: relative;
    display: inline-block
}

.wallet-adapter-dropdown-list {
    position: absolute;
    z-index: 99;
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
    padding: 10px;
    top: 100%;
    right: 0;
    margin: 0;
    list-style: none;
    background: #2c2d30;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .6);
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease, visibility .2s, -webkit-transform .2s ease;
    transition: opacity .2s ease, transform .2s ease, visibility .2s;
    transition: opacity .2s ease, transform .2s ease, visibility .2s, -webkit-transform .2s ease
}

.wallet-adapter-dropdown-list-active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(10px);
    transform: translateY(10px)
}

.wallet-adapter-dropdown-list-item {
    background: #404144;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    height: 37px;
    color: #fff
}

.wallet-adapter-dropdown-list-item:not([disabled]):hover {
    background-image: linear-gradient(rgba(0, 0, 0, .15) 0 0)
}

.wallet-adapter-modal-collapse-button svg {
    align-self: center;
    fill: #999
}

.wallet-adapter-modal-collapse-button.wallet-adapter-modal-collapse-button-active svg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: -webkit-transform .15s ease-in;
    transition: transform .15s ease-in;
    transition: transform .15s ease-in, -webkit-transform .15s ease-in
}

.wallet-adapter-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .15s linear;
    background: rgba(0, 0, 0, .5);
    z-index: 1040;
    overflow-y: auto
}

.wallet-adapter-modal.wallet-adapter-modal-fade-in {
    opacity: 1
}

.wallet-adapter-modal-button-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 6px
}

.wallet-adapter-modal-button-close:focus-visible {
    outline-color: #fff
}

.wallet-adapter-modal-button-close svg {
    fill: #777;
    transition: fill .2s ease 0s
}

.wallet-adapter-modal-button-close:hover svg {
    fill: #fff
}

.wallet-adapter-modal-logo {
    max-width: 100%
}

.wallet-adapter-modal-logo-wrapper {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background: #141515;
    margin-bottom: 10px;
    padding: 12px
}

.wallet-adapter-modal-overlay {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.wallet-adapter-modal-container {
    display: flex;
    margin: 3rem;
    min-height: calc(100vh - 6rem);
    align-items: center;
    justify-content: center
}

@media (max-width:480px) {
    .wallet-adapter-modal-container {
        margin: 1rem;
        min-height: calc(100vh - 2rem)
    }
}

.wallet-adapter-modal-wrapper {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1050;
    max-width: 400px;
    border-radius: 10px;
    background: #2c2d30;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .6);
    font-weight: 600;
    padding: 40px 20px 20px;
    flex: 1 1
}

.wallet-adapter-modal-wrapper .wallet-adapter-button {
    width: 100%
}

.wallet-adapter-modal-wrapper-no-logo {
    padding-top: 30px
}

.wallet-adapter-modal-title {
    font-family: var(--chakra-fonts-heading);
    font-weight: var(--chakra-fontWeights-bold);
    font-size: var(--chakra-fontSizes-4xl);
    line-height: var(--chakra-lineHeights-tiny);
    letter-spacing: var(--chakra-letterSpacings-tight);
    margin-bottom: 32px
}

.wallet-adapter-modal-list {
    margin: 0 0 12px;
    padding: 0;
    width: 100%;
    list-style: none
}

.wallet-adapter-modal-list li:not(:first-of-type) {
    margin-top: 12px
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.infinite-progress-spinner {
    -webkit-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
    background: #00ffbd;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: relative
}

.infinite-progress-spinner:after,
.infinite-progress-spinner:before {
    content: "";
    position: absolute
}

.infinite-progress-spinner:before {
    border-radius: 50%;
    background: linear-gradient(0deg, #2e2e2e 50%, rgba(46, 46, 46, .9)) 0 0, linear-gradient(90deg, rgba(46, 46, 46, .9), rgba(46, 46, 46, .6)) 100% 0, linear-gradient(180deg, rgba(46, 46, 46, .6), rgba(46, 46, 46, .3)) 100% 100%, linear-gradient(1turn, rgba(46, 46, 46, .3), rgba(46, 46, 46, 0)) 0 100%;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px
}

.infinite-progress-spinner:after {
    border-radius: 50%;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px
}

.spinner-light-background:after {
    background: #2a2a2a
}

.spinner-dark-background:after {
    background: #121212
}

/*# sourceMappingURL=main.d9b2e998.chunk.css.map */